extends ../../../../shared/project

block vars
    - const title = "Gameboy Color"
    - const date = "2021/08/23"
    - const script = true
    
block description
    include:markdown-it readme.md

block demo
    #gameboy.atomic-purple
        .screen
            .power
            .display
        .controls
            .d-pad
                .left-right
                .up-down
            .b
            .a
        .buttons
            .select
            .start
        .speaker
            .line
            .line
            .line
            .line
            .line
    #picker
        button.atomic-purple(
            title="Atomic purple"
            aria-label="Atomic purple"
            aria-pressed="true"
        )
        button.indigo(
            title="Indigo"
            aria-label="Indigo"
            aria-pressed="false"
        )
        button.berry(
            title="Berry"
            aria-label="Berry"
            aria-pressed="false"
        )
        button.kiwi(
            title="Kiwi"
            aria-label="Kiwi"
            aria-pressed="false"
        )
        button.dandelion(
            title="Dandelion"
            aria-label="Dandelion"
            aria-pressed="false"
        )
        button.teal(
            title="Teal"
            aria-label="Teal"
            aria-pressed="false"
        )