//- Card structure
mixin card(path, title)
    - const image = config.root + "images/" + path.split("/").join("-")
    a.card(
        href=`${ config.root }projects/${ path }/`
    )
        .card__wrap.card__wrap--loading
            img(
                class="card__image card__image--loading"
                src=image + ".tiny.jpg"
                data-src=image + ".jpg"
                alt=title
                aria-label=title
                width="260px"
                height="260px"
            )
