mixin card(path, title)
    - var image = "/illustrative-code/assets/images/" + path.split("/").join("-")
    a.card(
        href="/illustrative-code/projects/" + path
    )
        .wrap.loading
            img(
                class="loading"
                src=image + ".tiny.jpg"
                data-src=image + ".jpg"
                alt=title
            )
