block vars
include ../mixins/global
doctype html
html(lang="en")
    head
        //- Meta
        meta(charset="utf-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        //- Page head
        block head
        //- Favicon
        link(
            rel="icon" 
            type="image/png" 
            href="/illustrative-code/assets/images/favicon.png"
        )
        //- Font Awesome
        link(
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
        )
    body
        //- Page body
        block body
        //- Page scripts
        block scripts