block vars
include ../mixins/global
doctype html
html(lang="en")
    head
        include ../includes/project/head
        //- Font Awesome
        link(
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
        )
    body
        h1.sr-only=title
        header#header
            ul.nav
                li
                    +icon-link(
                        "/illustrative-code/",
                        "Illustrative Code home",
                        "chevron-left",
                        "Back"
                    )
                li.active
                    +icon-link(
                        "#",
                        "View demo",
                        "play",
                        "Demo",
                        "demo"
                    )
                li
                    +icon-link(
                        "#",
                        "Show description",
                        "align-justify",
                        "Description",
                        "description"
                    )
                li
                    +icon-link(
                        "styles.css",
                        "Show stylesheet",
                        "paint-brush",
                        "Styles"
                    )
                li
                    +icon-link(
                        "https://github.com/joeleisner/illustrative-code/tree/master/src/projects/" + date,
                        "GitHub repo page",
                        "code-fork",
                        "GitHub"
                    )
        section(id="demo", class="visible", aria-label="demo", aria-hidden="false")
            block demo
        section(id="description", class="hidden", aria-label="description", aria-hidden="true")
            block description
        include ../includes/project/scripts
