mixin icon-link(path, title, icon, text, section)
    - var target = (path !== '/' && path !== '/illustrative-code/') ? '_blank' : false
    if section
        button(title=title, data-target=section)
            i(class="fa fa-" + icon, aria-hidden="true")
            span.text #{ text }
    else
        a(href=path, title=title, target=target)
            i(class="fa fa-" + icon, aria-hidden="true")
            span.text #{ text }
