//- Meta
meta(charset="utf-8")
meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
)
//- Title
title #{ title }, an Example of Illustrative Code
//- Favicon
link(
    rel="icon" 
    type="image/png" 
    href="/illustrative-code/assets/images/favicon.png"
)
//- Project
link(
    rel="stylesheet"
    href="/illustrative-code/assets/css/project.css"
)
//- Styles
link(
    rel="stylesheet"
    href="styles.css"
)
