//- Title
title #{ title }, an Illustrative Code example
//- Project styles
link(
    rel="stylesheet"
    href="/illustrative-code/assets/css/project.css"
)
//- Example styles
link(
    rel="stylesheet"
    href="styles.css"
)
