extends ../shared/base

include ../components/panel/index

block settings
    -
        const nav = [
            {
                to: config.root,
                title: "Back to the Illustrative Code homepage",
                icon: "\uf053",
                text: "Back"
            },
            {
                type: "button",
                id: "nav__toggle",
                title: "Turn on dark mode",
                icon: "\uf186",
                text: "Dark mode"
            }
        ]
        const navShadow = false;

block head
    //- Title
    title Illustrative Code is offline
    //- Offline styles
    link(
        rel="stylesheet"
        href=config.root + "offline/offline.css"
        media="screen"
    )

block body
    +panel({
        id: "offline",
        label: "Offline",
        visible: true,
        contain: true
    })
        i.fas.fa-heart-broken.fa-10x(
            aria-hidden="true"
        )
        h1 No internet connection
        p This page isn't available offline.

block scripts
    //- Offline script
    script(
        src=config.root + "offline/offline.js"
        defer
    )