block vars
block settings

include ../components/nav/index
include ../components/wrapper/index

doctype html
html(
    lang="en"
    data-theme=theme
)
    head
        //- Meta
        meta(charset="utf-8")
        meta(
            http-equiv="x-ua-compatible"
            content="ie=edge"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        meta(
            name="og:type"
            content="website"
        )
        meta(
            name="twitter:card"
            content="summary"
        )
        meta(
            name="twitter:creator"
            content=config.author.twitter
        )
        //- Page head
        block head
        //- Base favicon
        link(
            rel="icon",
            href=config.root + config.manifest.icons[0].src
            sizes="any"
        )
        link(
            rel="icon"
            href=config.root + config.icons.favicon.path,
            type="image/svg+xml"
        )
        //- Manifest
        link(
            rel="manifest"
            href=config.root + "manifest.webmanifest"
            crossorigin="anonymous"
        )
        //- Theme color
        meta(
            name="theme-color",
            content=config.color
        )
        for icon in config.manifest.icons
            link(
                rel="apple-touch-icon"
                size=icon.sizes
                href=config.root + icon.src
            )
        //- CSS
        link(
            rel="stylesheet"
            href=config.root + "site.css"
            media="screen"
        )
    body
        //- Navigation
        +nav(nav, navShadow)
        //- Page body
        +wrapper
            main
                block body
            block footer
        //- Page scripts
        script(
            src=config.root + "site.js"
            defer
        )
        block scripts